.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(238, 238, 238);
}
.head {
    text-align: center;
    font-weight: 100;
    background-color: palevioletred;
    padding: 10%;
    
}
.body {
    position: relative;
}